In [1]:
import numpy as np
import pandas as pd

In [2]:
c1=pd.Series(np.random.rand(4))
c2=pd.Series(np.random.rand(4))
c3=pd.Series(np.random.rand(4))
c4=pd.Series(np.random.rand(4))
df=pd.DataFrame([c1,c2,c3,c4])

In [3]:
df

          0         1         2         3
0  0.837774  0.628253  0.360541  0.892147
1  0.197030  0.081469  0.468955  0.408971
2  0.101102  0.872330  0.100656  0.502584
3  0.097402  0.033956  0.877576  0.513481

In [4]:
df.columns=["Random value 1","Random value 2","Random value 3","Random value 4"]

In [5]:
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.837774        0.628253        0.360541        0.892147
1        0.197030        0.081469        0.468955        0.408971
2        0.101102        0.872330        0.100656        0.502584
3        0.097402        0.033956        0.877576        0.513481

In [6]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.308327        0.404002        0.451932        0.579296
std          0.355965        0.412545        0.323115        0.213778
min          0.097402        0.033956        0.100656        0.408971
25%          0.100177        0.069591        0.295570        0.479180
50%          0.149066        0.354861        0.414748        0.508032
75%          0.357216        0.689272        0.571110        0.608147
max          0.837774        0.872330        0.877576        0.892147

In [7]:
df.isnull()

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

In [8]:
df.isnull().sum()

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value 1  4 non-null      float64
 1   Random value 2  4 non-null      float64
 2   Random value 3  4 non-null      float64
 3   Random value 4  4 non-null      float64
dtypes: float64(4)
memory usage: 256.0 bytes

In [10]:
df.loc[0:3,["Random value 2","Random value 3"]]

   Random value 2  Random value 3
0        0.628253        0.360541
1        0.081469        0.468955
2        0.872330        0.100656
3        0.033956        0.877576

In [11]:
df.iloc[0:4,1:3]

   Random value 2  Random value 3
0        0.628253        0.360541
1        0.081469        0.468955
2        0.872330        0.100656
3        0.033956        0.877576