# Task1 - Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

In [1]:
import pandas as pd
import numpy as np

s1=pd.Series(np.random.rand(4))
s2=pd.Series(np.random.rand(4))
s3=pd.Series(np.random.rand(4))
s4=pd.Series(np.random.rand(4))
print(s1,s2,s3,s4)

0    0.204066
1    0.297432
2    0.719830
3    0.938529
dtype: float64 0    0.809712
1    0.941232
2    0.717713
3    0.612531
dtype: float64 0    0.415768
1    0.414454
2    0.052337
3    0.217612
dtype: float64 0    0.698041
1    0.930235
2    0.895159
3    0.448365
dtype: float64

In [2]:
df = pd.DataFrame([s1,s2,s3,s4])
print(df)

          0         1         2         3
0  0.204066  0.297432  0.719830  0.938529
1  0.809712  0.941232  0.717713  0.612531
2  0.415768  0.414454  0.052337  0.217612
3  0.698041  0.930235  0.895159  0.448365

# Task-2 : Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

In [3]:
df.columns = ['Random value 1','Random value 2','Random value 3','Random value 4']
print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.204066        0.297432        0.719830        0.938529
1        0.809712        0.941232        0.717713        0.612531
2        0.415768        0.414454        0.052337        0.217612
3        0.698041        0.930235        0.895159        0.448365

# Task3 - Find the descriptive statistics of the 'df' dataframe.

In [4]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.531897        0.645838        0.596260        0.554259
std          0.274314        0.338164        0.372027        0.303097
min          0.204066        0.297432        0.052337        0.217612
25%          0.362843        0.385199        0.551369        0.390677
50%          0.556905        0.672344        0.718771        0.530448
75%          0.725959        0.932984        0.763662        0.694031
max          0.809712        0.941232        0.895159        0.938529

# Task4 - Check for the null values in 'df' and find the data type of the columns

In [6]:
df.isnull()

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

In [7]:
df.isnull().all()

Random value 1    False
Random value 2    False
Random value 3    False
Random value 4    False
dtype: bool

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value 1  4 non-null      float64
 1   Random value 2  4 non-null      float64
 2   Random value 3  4 non-null      float64
 3   Random value 4  4 non-null      float64
dtypes: float64(4)
memory usage: 256.0 bytes

In [9]:
df['Random value 1'].dtype

dtype('float64')

In [10]:
df['Random value 2'].dtype

dtype('float64')

In [11]:
df['Random value 3'].dtype

dtype('float64')

In [12]:
df['Random value 4'].dtype

dtype('float64')

# Task 5 - Display the 'Random value 2' & 'Random value 3' columns with location method and index location method

In [13]:
df.loc[0:3,'Random value 2':'Random value 3']

   Random value 2  Random value 3
0        0.297432        0.719830
1        0.941232        0.717713
2        0.414454        0.052337
3        0.930235        0.895159

In [14]:
df.iloc[0:4,1:3]

   Random value 2  Random value 3
0        0.297432        0.719830
1        0.941232        0.717713
2        0.414454        0.052337
3        0.930235        0.895159